<form
    method="post"
    action="{{ path(route, {'id': entity.id}) }}"
    {% if with_confirm is not defined or with_confirm %}data-controller="confirm"{% endif %}
    {% if confirm_text is defined %}data-confirm-text-value="{{ confirm_text }}"{% endif %}
    {% if confirm_title is defined %}data-confirm-title-value="{{ confirm_title }}"{% endif %}
>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entity.id) }}">
    {% if method is defined and method|lower == "delete" %}
    <input type="hidden" name="_method" value="DELETE">
    {% endif %}
    <button type="submit" class="{{ btn_class|default('btn btn-outline-danger') }}">
        <i class="bi bi-trash-fill"></i>{% if btn_label is not defined or btn_label != false %} {{ btn_label|default('Delete'|trans) }}{% endif %}
    </button>
</form>
